<div class="container">
  <div class="image">
      <img src="https://www.successmantra.in/assets/assestsnew/images/login-registration.png" alt="Singup_Image">
  </div>
  <div>
<div class="text_box">
  <h1>Welcome!</h1>
  <h2>Login to your account</h2>
</div>
<div class="form_container">
  <form action="/" autocomplete="off">
    <div class="input_field">
      <label for="name">FULL NAME</label>
      <input
        type="text"
        name="email"
        id="email"
      />
    </div>
    <div class="input_field">
      <label for="password">PASSWORD</label>
      <input
        type="password"
        name="password"
        id="password"
      />
    </div>
    <div class="Submit_btn">
      <Button>Login</Button>
    </div>
  </form>
  <div class="links">
    <p><a href="/">Forgot Your Password?</a></p>
    <p>Don't Have An Account? <a href="./login.component.html">SingUp</a></p>
  </div>
</div>
</div>
</div>
